button {
    width: 150px;
    height: 50px;
    background-color: seagreen;
    color: white;
}

#search {
    width: 150px;
    height: 30px;
    background-color: seagreen;
    color: white;
}

#input {
    border: 2px solid darkgrey;
    padding: 5px;
    
}

#secondDiv {
    padding: 30px;
    text-align: right;
}